$white: #fff;
$black: #000;
$primary-color: #62a403;
$primary-background-color: #4e8303;
$border-color: #eee;
$background-color: #f5f5f5;
$gray-font-color: #767676;
$facebook-color: #365493;
$instagram-color: #ff3156;
$whatsapp-color: #0ae20a;
$twitter-color: #1DA1F2;
$google-color: #DB4437;
$gmail-color: #e40303;
$telegram-color: #0088cc;
$red: #ff0000;
$dark-red:#941b1b;
$mid-green: #184d47;
$dark-green: #043c36;
$light-green: #15bd68;
$white-green: #e0ffb3;
$orange: #ff9923;
$light-pink: #ffe2df;
$mid-pink: #8d423b;