.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  img {
    width: 200px;
    animation: spin 2s infinite;
    opacity: 0;
  }
  @keyframes spin {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
